<a href="https://colab.research.google.com/github/diyapant-max/python-foundation/blob/main/Copy_of_Dt_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 0.

Import pandas (as pd)

In [ ]:
import pandas as pd

## Exercise 2.

Create a dataframe from a list (of lists).

*Hint: look at documentation https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html*

In [5]:
my_data = [[82_000_000, 1.9, "Europe"],
        [ 5_500_000, 1.8, "Europe"]]
my_columns=['population', 'fertility', 'continent']
my_index=['Germany', 'Denmark']

# create dataframe from a list  | YOUR CODE
df = pd.DataFrame(data=my_data, columns=my_columns, index=my_index)
print(df)

         population  fertility continent
Germany    82000000        1.9    Europe
Denmark     5500000        1.8    Europe

## Exercise 2.

Create a dataframe from a dictionary.

In [2]:
import pandas as pd

data = {'item': ['spam', 'baked beans', 'rosemary', 'spaghetti'],
        'amount': [1, 3, 1.2, 1],
        'unit': ['can', 'can', '100 g', 'pack'],
        'price': [0.99, 1.29, 1.99, 2.49]}

# create dataframe from a dictionary | YOUR CODE
df = pd.DataFrame(data)
display(df.head())

          item  amount   unit  price
0         spam     1.0    can   0.99
1  baked beans     3.0    can   1.29
2     rosemary     1.2  100 g   1.99
3    spaghetti     1.0   pack   2.49

## Exercise 3 / Solve with one-liners

### Exercise 3a: create a dataframe

Go to this website: https://www.gapminder.org/data/

Choose "Population"->"Total population" dataset and download csv "population_total.csv".


Upload it to the notebook content.

### Exercise 3b.

Read the file into a DataFrame

In [ ]:
import pandas as pd
df = pd.read_csv('pop.csv')
print(df)
print('name')

     geo          name     1800     1801     1802     1803     1804     1805  \
0    afg   Afghanistan  3280000  3280000  3280000  3280000  3280000  3280000
1    ago        Angola  1567028  1567028  1567028  1567028  1567028  1567028
2    alb       Albania   400000   401773   403554   405343   407140   408945
3    and       Andorra     2654     2654     2654     2654     2654     2654
4    are           UAE    40153    40153    40153    40153    40153    40153
..   ...           ...      ...      ...      ...      ...      ...      ...
190  wsm         Samoa    47300    47292    47284    47276    47268    47260
191  yem         Yemen  2593000  2593000  2593000  2593000  2593000  2593000
192  zaf  South Africa  1447911  1453209  1458526  1463862  1469219  1474594
193  zmb        Zambia   747000   758402   769979   781732   793665   805780
194  zwe      Zimbabwe  1085814  1085814  1085814  1085814  1085814  1085814

        1806     1807  ...         2091         2092         2093  \
0    3280000  3280000  ...  124110001.0  124854162.0  125589411.0
1    1567028  1567028  ...  138919849.0  140249378.0  141550054.0
2     410758   412579  ...    1344055.0    1324192.0    1304876.0
3       2654     2654  ...      52781.0      52134.0      51484.0
4      40153    40153  ...   24075187.0   24298127.0   24521988.0
..       ...      ...  ...          ...          ...          ...
190    47252    47244  ...     370240.0     371993.0     373663.0
191  2593000  2593000  ...  106510730.0  106998027.0  107459605.0
192  1479989  1485404  ...   92399701.0   92635394.0   92860583.0
193   818080   830567  ...   61098687.0   61512696.0   61915359.0
194  1085814  1085814  ...   36284409.0   36405082.0   36516149.0

            2094         2095         2096         2097         2098  \
0    126306889.0  126990147.0  127647762.0  128305496.0  128964762.0
1    142835147.0  144102524.0  145340832.0  146549586.0  147743369.0
2      1286145.0    1268008.0    1250429.0    1233362.0    1216785.0
3        50843.0      50211.0      49586.0      48973.0      48373.0
4     24747048.0   24973506.0   25201603.0   25431504.0   25663508.0
..           ...          ...          ...          ...          ...
190     375252.0     376788.0     378279.0     379683.0     381010.0
191  107895476.0  108308131.0  108699429.0  109068203.0  109414685.0
192   93085412.0   93300481.0   93502148.0   93695466.0   93893514.0
193   62311179.0   62698035.0   63070548.0   63434684.0   63791046.0
194   36625729.0   36739734.0   36840486.0   36932287.0   37019886.0

            2099         2100
0    129616118.0  130216739.0
1    148912810.0  150045574.0
2      1200681.0    1184997.0
3        47791.0      47222.0
4     25897696.0   26134299.0
..           ...          ...
190     382317.0     383557.0
191  109738709.0  110035634.0
192   94101365.0   94314448.0
193   64136921.0   64473916.0
194   37096560.0   37166572.0

[195 rows x 303 columns]
name

In [ ]:
# data = # This line caused a SyntaxError
# df = pd.DataFrame('Name') # This line caused a ValueError

# To create a DataFrame, provide data in a list of lists or a dictionary format.
# Example:
 data = {'Name': ['Country A', 'Country B']}
 df = pd.DataFrame(data)

 print(df)

IndentationError: unexpected indent (ipython-input-912868079.py, line 6)

## Attention! Recent addition!

As Juan noticed - the csv file that I offered you to work with contains string values that can't be directly casted to integers like '120M', '6.5k', etc.
To process the data and make the numerical value integers use the code snippet below:

In [ ]:
# this is a simple function that turnes our strings to integers:
def numerize(x):
  if x[-1:] == 'M':
    x = int(float(x[:-1])*1000000)
  elif x[-1:] == 'B':
    x = int(float(x[:-1])*1000000000)
  elif x[-1:] == 'k':
    x = int(float(x[:-1])*1000)
  else:
    x = int(x)
  return x
# here we using .applymap() method that applies our function to every element of a DataFrame
# pay attention what we applied it to df.iloc[:,1:] - which means all the cells excluyding the first columns with country names
df.iloc[:, 1:] = df.iloc[:, 1:].applymap(numerize)

### Exercise 3c.

Display the number of rows and columns

In [ ]:
print(df.shape)

(195, 303)

### Exercise 3d.

Display the first 5 countries in the alphabet.

In [ ]:
df_sorted = df.sort_values(by='name')
print(df_sorted.head(5))

    geo         name     1800     1801     1802     1803     1804     1805  \
0   afg  Afghanistan  3280000  3280000  3280000  3280000  3280000  3280000
2   alb      Albania   400000   401773   403554   405343   407140   408945
49  dza      Algeria  2500000  2509126  2518286  2527479  2536706  2545967
3   and      Andorra     2654     2654     2654     2654     2654     2654
1   ago       Angola  1567028  1567028  1567028  1567028  1567028  1567028

       1806     1807  ...         2091         2092         2093         2094  \
0   3280000  3280000  ...  124110001.0  124854162.0  125589411.0  126306889.0
2    410758   412579  ...    1344055.0    1324192.0    1304876.0    1286145.0
49  2555261  2564589  ...   65105744.0   65081097.0   65052821.0   65010260.0
3      2654     2654  ...      52781.0      52134.0      51484.0      50843.0
1   1567028  1567028  ...  138919849.0  140249378.0  141550054.0  142835147.0

           2095         2096         2097         2098         2099  \
0   126990147.0  127647762.0  128305496.0  128964762.0  129616118.0
2     1268008.0    1250429.0    1233362.0    1216785.0    1200681.0
49   64951512.0   64882626.0   64802067.0   64709156.0   64602941.0
3       50211.0      49586.0      48973.0      48373.0      47791.0
1   144102524.0  145340832.0  146549586.0  147743369.0  148912810.0

           2100
0   130216739.0
2     1184997.0
49   64487527.0
3       47222.0
1   150045574.0

[5 rows x 303 columns]

### Exercise 3e.

Which country had the biggest population in 1920?

In [ ]:
most_populated_1920 = df.sort_values(by='1920', ascending=False).iloc[0]
country_1920 = most_populated_1920['name']
population_1920 = most_populated_1920['1920']

print(f"The country with the biggest population in 1920 was {country_1920} with a population of {population_1920}.")

The country with the biggest population in 1920 was China with a population of 463385992.

### Exercise 3f.

Find out how many people lived in Cyprus in 2000?

In [ ]:
cyprus_population_2000 = df[df['name'] == 'Cyprus']['2000'].iloc[0]
print(f"The population of Cyprus in 2000 was: {cyprus_population_2000}")

The population of Cyprus in 2000 was: 947667

### Exercise 3g.
Define a DataFrame with only countries that had population over 1M people in 2015

In [ ]:
df_over_1m_2015 = df[df['2015'] > 1000000]
print(df_over_1m_2015)

     geo          name     1800     1801     1802     1803     1804     1805  \
0    afg   Afghanistan  3280000  3280000  3280000  3280000  3280000  3280000
1    ago        Angola  1567028  1567028  1567028  1567028  1567028  1567028
2    alb       Albania   400000   401773   403554   405343   407140   408945
4    are           UAE    40153    40153    40153    40153    40153    40153
5    arg     Argentina   534000   519565   505520   491855   478559   465622
..   ...           ...      ...      ...      ...      ...      ...      ...
188  vnm       Vietnam  4000000  4099892  4202278  4307221  4414785  4525034
191  yem         Yemen  2593000  2593000  2593000  2593000  2593000  2593000
192  zaf  South Africa  1447911  1453209  1458526  1463862  1469219  1474594
193  zmb        Zambia   747000   758402   769979   781732   793665   805780
194  zwe      Zimbabwe  1085814  1085814  1085814  1085814  1085814  1085814

        1806     1807  ...         2091         2092         2093  \
0    3280000  3280000  ...  124110001.0  124854162.0  125589411.0
1    1567028  1567028  ...  138919849.0  140249378.0  141550054.0
2     410758   412579  ...    1344055.0    1324192.0    1304876.0
4      40153    40153  ...   24075187.0   24298127.0   24521988.0
5     453035   440789  ...   40959933.0   40662490.0   40363219.0
..       ...      ...  ...          ...          ...          ...
188  4638038  4753863  ...   95946917.0   95490327.0   95033602.0
191  2593000  2593000  ...  106510730.0  106998027.0  107459605.0
192  1479989  1485404  ...   92399701.0   92635394.0   92860583.0
193   818080   830567  ...   61098687.0   61512696.0   61915359.0
194  1085814  1085814  ...   36284409.0   36405082.0   36516149.0

            2094         2095         2096         2097         2098  \
0    126306889.0  126990147.0  127647762.0  128305496.0  128964762.0
1    142835147.0  144102524.0  145340832.0  146549586.0  147743369.0
2      1286145.0    1268008.0    1250429.0    1233362.0    1216785.0
4     24747048.0   24973506.0   25201603.0   25431504.0   25663508.0
5     40062943.0   39761859.0   39460124.0   39158399.0   38857022.0
..           ...          ...          ...          ...          ...
188   94576334.0   94117721.0   93650413.0   93176207.0   92694015.0
191  107895476.0  108308131.0  108699429.0  109068203.0  109414685.0
192   93085412.0   93300481.0   93502148.0   93695466.0   93893514.0
193   62311179.0   62698035.0   63070548.0   63434684.0   63791046.0
194   36625729.0   36739734.0   36840486.0   36932287.0   37019886.0

            2099         2100
0    129616118.0  130216739.0
1    148912810.0  150045574.0
2      1200681.0    1184997.0
4     25897696.0   26134299.0
5     38556118.0   38255990.0
..           ...          ...
188   92201784.0   91705108.0
191  109738709.0  110035634.0
192   94101365.0   94314448.0
193   64136921.0   64473916.0
194   37096560.0   37166572.0

[157 rows x 303 columns]

### Exercise 3h.
Select every second country.

In [ ]:
df_every_second = df[::2]
print(df_every_second)

     geo                            name     1800     1801     1802     1803  \
0    afg                     Afghanistan  3280000  3280000  3280000  3280000
2    alb                         Albania   400000   401773   403554   405343
4    are                             UAE    40153    40153    40153    40153
6    arm                         Armenia   413326   413326   413326   413326
8    aus                       Australia   200000   205195   210524   215992
..   ...                             ...      ...      ...      ...      ...
186  vct  St. Vincent and the Grenadines    25781    25781    25781    25781
188  vnm                         Vietnam  4000000  4099892  4202278  4307221
190  wsm                           Samoa    47300    47292    47284    47276
192  zaf                    South Africa  1447911  1453209  1458526  1463862
194  zwe                        Zimbabwe  1085814  1085814  1085814  1085814

        1804     1805     1806     1807  ...         2091         2092  \
0    3280000  3280000  3280000  3280000  ...  124110001.0  124854162.0
2     407140   408945   410758   412579  ...    1344055.0    1324192.0
4      40153    40153    40153    40153  ...   24075187.0   24298127.0
6     413326   413326   413326   413326  ...    1803138.0    1790311.0
8     221602   227357   233263   239321  ...   41111420.0   41344709.0
..       ...      ...      ...      ...  ...          ...          ...
186    25781    25781    25781    25781  ...      68677.0      68177.0
188  4414785  4525034  4638038  4753863  ...   95946917.0   95490327.0
190    47268    47260    47252    47244  ...     370240.0     371993.0
192  1469219  1474594  1479989  1485404  ...   92399701.0   92635394.0
194  1085814  1085814  1085814  1085814  ...   36284409.0   36405082.0

            2093         2094         2095         2096         2097  \
0    125589411.0  126306889.0  126990147.0  127647762.0  128305496.0
2      1304876.0    1286145.0    1268008.0    1250429.0    1233362.0
4     24521988.0   24747048.0   24973506.0   25201603.0   25431504.0
6      1777677.0    1765143.0    1752811.0    1740658.0    1728533.0
8     41574723.0   41797144.0   42016474.0   42243353.0   42477126.0
..           ...          ...          ...          ...          ...
186      67677.0      67174.0      66673.0      66179.0      65684.0
188   95033602.0   94576334.0   94117721.0   93650413.0   93176207.0
190     373663.0     375252.0     376788.0     378279.0     379683.0
192   92860583.0   93085412.0   93300481.0   93502148.0   93695466.0
194   36516149.0   36625729.0   36739734.0   36840486.0   36932287.0

            2098         2099         2100
0    128964762.0  129616118.0  130216739.0
2      1216785.0    1200681.0    1184997.0
4     25663508.0   25897696.0   26134299.0
6      1716394.0    1704282.0    1692198.0
8     42706735.0   42926634.0   43143685.0
..           ...          ...          ...
186      65189.0      64701.0      64218.0
188   92694015.0   92201784.0   91705108.0
190     381010.0     382317.0     383557.0
192   93893514.0   94101365.0   94314448.0
194   37019886.0   37096560.0   37166572.0

[98 rows x 303 columns]

### Exercise 4 / EXTRA
Find and fix bugs.

In [ ]:
lesson_parts = ['Recap',
                'Homework',
                'CSV Module',
                'Exercises',
                'Break',
                'Libraries: Introduction to Pandas',
                'Pandas exercises',
                'Other libraries & homework']
time = [10, 20, 10, 20, 5, 15, 25, 15]

df = pd.DataFrame({'lesson_parts': lesson_parts,
                   'time': time
                   })

print(df.sort_values(by='lesson_parts', ascending=False))

# The column 'participants' does not exist, so this line is removed.
# print("\ntotal participants:", df.sum('participants'))

                        lesson_parts  time
0                              Recap    10
6                   Pandas exercises    25
7         Other libraries & homework    15
5  Libraries: Introduction to Pandas    15
1                           Homework    20
3                          Exercises    20
2                         CSV Module    10
4                              Break     5

Exercise 5 / LONG TERM EXTRA

Copy 100-pandas-puzzles.ipynb from this repo:
https://github.com/ajcr/100-pandas-puzzles

Practice, practice, practice...